{
    "ref_fasta": "",
    "sample_name": "",
    "fastq_1": "",
    "fastq_2": "",
    "readgroup_name":"",
    "library_name":"",
    "platform_unit":"NA",
    "run_date":"0000-00-00",
    "platform_name":"NA",
    "sequencing_center":"NA",
    "num_dangling_bases" : 1,
    "make_output_bam": true
}
